---
import Layout from "../layouts/BaseLayout.astro";
---


<Layout title="Jeff Wieland">
  <article>
    <section>
      <h1>Contact</h1>
      <p>Interested in product leadership, consulting, or collaboration?</p>
		<li>GitHub: https://github.com/jdwieland8282</li>
		<li>LinkedIn: https://www.linkedin.com/in/keepitreal/</li>
		<li>Email: jeff@jeff-wieland.com</li>
	</section>
</article>
		